<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <input class="form-control me-2" type="number" placeholder="Ingresa el id del Tech" [(ngModel)]="valueId">
    <input class="form-control me-2" type="number" placeholder="Ingresa el número de la semana" [(ngModel)]="week">
    <button class="btn btn-outline-success" type="subtmit" name="search" (click)="getFilter()">Filtrar</button>
    <!-- <button *ngIf="teches==null || teches.length==0" class="btn btn-outline-success" type="subtmit" name="back"
      (click)="getData()">Get data</button> -->
      <button *ngIf="isFiltered==true" (click)="getData()"class="btn btn-outline-success" type="submit">Volver</button>
  </div>
</nav>

<div class="container-fluid">
  <button *ngIf="isTotal==true" class="btn btn-outline-success" type="submit" (click)="getData()" >Update</button>
  <button *ngIf="isTotal==false" class="btn btn-outline-success" type="submit" (click)="getFilter()" >Update</button>
  <h2 style="text-align:center;">Lista de reportes de servicio</h2>
</div>
<table class="table">
  <thead class="thead-dark">
    <tr class="table-dark">
      <th scope="col">#</th>
      <th scope="col">id tech</th>
      <th scope="col">id service</th>
      <th scope="col">hora inicial</th>
      <th scope="col">hora final</th>
      <td scope="col">Eliminar</td>
      <td scope="col">Mostrar horas</td>
    </tr>
  </thead>
  <tbody>
    <h1 *ngIf="teches==null || teches.length==0">No hay datos por mostrar</h1>
    <tr *ngFor="let tech of teches;let indice=index">
      <td>{{indice+1}}</td>
      <td>{{tech.idTech}}</td>
      <td>{{ tech.idService}}</td>
      <td>{{tech.horaInicial}}</td>
      <td>{{tech.horaFinal}}</td>
      <td><button class="btn btn-primary" type="submit" (click)="delete(tech.id)">Delete</button></td>
      <td><button class="btn btn-primary" type="submit" (click)="getClick(tech)">View hours</button></td>
    </tr>
  </tbody>
</table>

<div class="flex" *ngIf="horaTotal>0">
  <div class="h2" *ngIf="isTotal==false" >
    <h3 for="">horas  totales {{horaTotal}} </h3>
    <h3 for="">horas  nocturnas {{horasNoche}} </h3>
    <h3 for="">horas  extra {{horaExtra}} </h3>
    <h3 for="">horas  dominicales {{horasDomingo}} </h3>
  </div>
</div>
